/**
 * @file
 * Global styles.
 */

/**
 * Bootstrap overrides.
 */

body a:hover, body a:focus {
  color: var(--bs-secondary);
}

body .breadcrumb-item+.breadcrumb-item::before {
  color: var(--bs-white);
}

.badge {
  text-decoration: none;
}

/**
 * Spruce up the blockquote element inside of nodes.
 */
.node__content blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/**
 * Override iframe embeds.
 */
iframe {
  width: 100%;
}

/**
 * Shrink footer on mobile.
 */
footer img {
  max-height: 40px;
}
