.hero .card.bg-dark {
  border-radius: 0;
}

.hero img {
  max-height: 500px;
  object-fit: cover;
}

.cta.card.bg-dark {
  border-radius: 0;
}

.cta img {
  max-height: 400px;
  object-fit: cover;
}

.carousel-item img {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  filter: brightness(40%);
}

@media (min-width: 768px) {
  .carousel-caption {
    bottom: inherit;
    top: 33%;
  }
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

body .navbar-dark .nav-link.active {
  color: #9ec5fe !important;
}

body a:hover, body a:focus {
  color: var(--bs-secondary);
}

body .breadcrumb-item+.breadcrumb-item::before {
  color: var(--bs-white);
}

/**
 * Spruce up the blockquote element inside of nodes.
 */
.node__content blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/**
 * Node preview styles.
 */
.node-preview-container {
  background: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  position: fixed;
  z-index: 499;
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 36em) {
  .node-preview-container .form-type-select {
    margin-left: 20px; /* LTR */
  }
  [dir="rtl"] .node-preview-container .form-type-select {
    margin-right: 20px;
    margin-left: 0;
  }
}

/**
 * Override iframe embeds.
 */
iframe {
  width: 100%;
}

.badge {
  text-decoration: none;
}
