/* Openchurch features
/-------------------------------------------------------------- */

/*************************************
  Member links
*************************************/
.member-links {
  position: absolute;
  top: 10px;
  right: 0;
  width: auto;
}
  .member-links ul {
    text-align: right;
  }
  .member-links ul a { }

/*************************************
  View map directions
*************************************/
body .block.view-map-directions .inner {
  padding: 1px 12px 0; font-size: 1.3em;
}


/*************************************
  Podcasts
*************************************/
.openchurch-podcasts { padding-top: 1em; }
  .openchurch-podcasts h2.pane-title {
    background: #ccc; margin: 0;
    padding: 10px 13px;
  }
  div.panels-ipe-display-container .openchurch-podcasts .pane-title {
   padding: 10px 13px;
  }
  .openchurch-podcasts .view-content { padding-top: 1em; }
  .openchurch-podcasts .views-row {
    padding-left: 95px; position: relative; margin-bottom: 1em;
    border-bottom: 1px solid #ccc; padding-bottom: 1em;
  }

  .openchurch-podcasts .views-field-field-oc-date-value {
    font-size: 1.6em; position: absolute; left: 0; top: 2px;
  }
  .openchurch-podcasts .views-field-field-oc-audio-fid {
    padding-top: .5em;
  }
  .openchurch-podcasts .views-field-field-oc-audio-fid-1 {
    font-weight: bold; position: absolute; top: 0; right: 0;
    background: #efefef; padding: .2em .4em;
  }

  .openchurch-podcasts .views-field-title {
    font-size: 1.5em; font-weight: bold; margin-bottom: .3em;
  }

  .openchurch-podcasts .views-field-field-oc-author-value {
    font-size: 1.5em; margin-bottom: .3em; color: #333;
  }
  .openchurch-podcasts .views-field-teaser {
    margin-bottom: .3em;
  }
    .openchurch-podcasts .views-field-teaser label {
      font-weight: bold;
    }

/*************************************
  Giving List
*************************************/
#openchurch-giving-detail .giving-block {
  padding-top: 1em;
}
#openchurch-giving-detail .giving-block h2.pane-title {
  background: #ccc; margin: 0 0 .7em;
  padding: 10px 13px;
}
  #openchurch-giving-detail div.panels-ipe-display-container .giving-block .pane-title {
    padding: 10px 13px;
  }
  .openchurch-giving-list { padding-top: 1em; }
    .openchurch-giving-list .views-row {
      padding-left: 230px; position: relative; min-height: 120px;
      padding-bottom: 1em; margin-bottom: 1em; border-bottom: 1px solid #ccc;
    }
    .openchurch-giving-list .views-field-field-oc-image-fid {
      position: absolute; left: 0; top: 0;
    }
    .openchurch-giving-list .views-field-view-node {
      font-style: italic;
    }
    .openchurch-giving-list .views-field-title {
      font-size: 1.4em; font-weight: bold; margin-bottom: .3em;
    }

/*************************************
  Bulletin List
*************************************/
  .openchurch-bulletin-list { padding-top: 1em; }
  .openchurch-bulletin-list h2.block-title {
    background: #ccc; margin: 0 0 .3em;
    padding: 10px 13px;
  }
    .openchurch-bulletin-list .view-content { padding-top: .3em; }
    .openchurch-bulletin-list .views-field-field-bulletin-file-fid { font-style: italic; }
    .openchurch-bulletin-list .views-row { margin-bottom: .3em; padding-left: .5em; }

/*************************************
  Latest Blog List
*************************************/
.openchurch-latest-blogs-list {
  position: relative;
}
  .openchurch-latest-blogs-list h2.pane-title,
  div.panels-ipe-display-container .openchurch-latest-blogs-list h2.pane-title {
    border-bottom: 1px solid #333; padding-bottom: .4em;
    font-style: italic; margin-top: 1em;
  }
  .openchurch-latest-blogs-list .view-header a {
    position: absolute; top: -.2em; right: 0; background: #efefef;
    padding: .2em .4em;
  }

  .openchurch-latest-blogs-list .views-row {
    margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc;
  }
  .openchurch-latest-blogs-list .views-field-title {
    font-size: 1.5em; font-style: italic; margin-bottom: .3em;
  }
  .openchurch-latest-blogs-list .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
  }
  .openchurch-latest-blogs-list .form-submit { float: left; margin: 0; }
  .openchurch-latest-blogs-list .views-exposed-form label { float: left; margin-right: .2em; position: relative; top: .2em; }
  .openchurch-latest-blogs-list .views-exposed-form .views-exposed-widget { margin: 0; padding: 0; }
  .openchurch-latest-blogs-list #edit-blog-tid-wrapper {
    float: left; width: 150px; margin-left: .3em;
  }
  .openchurch-latest-blogs-list #edit-blog-tid {
    width: 150px; position: relative; top: -.3em;
  }
  .openchurch-latest-blogs-list .views-widget { display: inline; }
  .openchurch-latest-blogs-list .views-exposed-form {
    position: absolute; top: -.2em; right: 100px;
  }

/*************************************
  Blog Archives List
*************************************/
.openchurch-blog-archives-list { }
  .openchurch-blog-archives-list h2.pane-title,
  div.panels-ipe-display-container .openchurch-blog-archives-list h2.pane-title {
    border-bottom: 1px solid #333; padding-bottom: .4em;
    font-style: italic; margin-top: 1em; margin-bottom: 1em;
  }
  .openchurch-blog-archives-list li.views-row {
    list-style-type: square; font-size: 1.2em;
    margin-bottom: .2em;
  }
  .openchurch-blog-archives-list .item-list h3 {
    font-size: 1.3em; padding-top: .3em;
  }

/*************************************
  Galleries List
*************************************/
.openchurch-galleries-list { padding-top: 1em; }
  .openchurch-galleries-list h2.pane-title,
  div.panels-ipe-display-container .openchurch-galleries-list h2.pane-title {
    border-bottom: 1px solid #333; padding-bottom: .4em;
    font-style: italic;
  }
  .openchurch-galleries-list .view-content { padding-top: 1em; }
  .openchurch-galleries-list .views-row {
    padding-left: 195px; position: relative; margin-bottom: 1em;
    padding-bottom: 1em; border-bottom: 1px solid #ccc;
    min-height: 120px;
  }
  .openchurch-galleries-list .views-field-field-oc-thumb-fid {
    position: absolute; top: 0; left: 0;
  }
    .openchurch-galleries-list .views-field-field-oc-thumb-fid img {
      border: 5px solid #efefef;
    }
    .openchurch-galleries-list .views-field-title {
      font-size: 1.4em; margin-bottom: .3em;
    }
    .openchurch-galleries-list label { font-weight: bold; }
    .openchurch-galleries-list .views-field-nid {
      position: absolute; top: 0; right: 0;
    }
      .openchurch-galleries-list .views-field-nid a {
        padding: .2em .4em; background: #efefef;
      }

/*************************************
  Gallery Photos
*************************************/
.openchurch-gallery-photos {
  padding-top: 1em;
}
  .openchurch-gallery-photos .view { position: relative; }
  .openchurch-gallery-photos .view-header h2 {
    border-bottom: 1px solid #333; padding-bottom: .4em;
    font-style: italic;
  }
  .openchurch-gallery-photos .view-header a.back-to-galleries {
    position: absolute; top: 0; right: 0; background: #efefef;
    padding: .2em .4em;
  }
  .openchurch-gallery-photos .view-footer { text-align: right; margin-top: 1.5em; }
  .openchurch-gallery-photos .view-footer a.back-to-galleries {
    padding: .2em .4em; background: #efefef; display: block; float: right;
  }
  .openchurch-gallery-photos label { font-weight: bold; }
  .openchurch-gallery-photos .views-field-field-oc-images-fid img {
    border: 3px solid #ccc;
  }
  .openchurch-gallery-photos table.views-view-grid { margin-top: 1.5em; }


/*************************************
  Events List
*************************************/
.openchurch-events-list {
  position: relative; margin-top: 1em;
}
  .openchurch-events-list h2.pane-title,
  div.panels-ipe-display-container .openchurch-events-list h2.pane-title {
    border-bottom: 1px solid #333; padding-bottom: .4em;
    font-style: italic; margin-top: 1em;
  }

  .openchurch-events-list .views-row {
    margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc;
    padding-left: 85px; position: relative;
  }
  .openchurch-events-list .views-field-title {
    font-size: 1.5em; font-style: italic; margin-bottom: .3em;
    width: 70%;
  }
  .openchurch-events-list  .views-field-field-oc-dates-value2 {
    position: absolute; top: 0; left: 0; font-size: 1.5em;
    color: #333;
  }
  .openchurch-events-list .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
  }
  .openchurch-events-list .form-submit { float: left; margin: 0; }
  .openchurch-events-list .views-exposed-form label { float: left; margin-right: .2em; position: relative; top: .2em; }
  .openchurch-events-list .views-exposed-form .views-exposed-widget { margin: 0; padding: 0; }
  .openchurch-events-list #edit-oc-ministry-nid-wrapper {
    float: left; width: 150px; margin-left: .3em;
  }
  .openchurch-events-list #edit-oc-ministry-nid {
    width: 150px; position: relative; top: -.3em;
  }
  .openchurch-events-list .views-widget { display: inline; }
  .openchurch-events-list .views-exposed-form {
    position: absolute; top: -.2em; right: 0;
  }
  .openchurch-events-list label { font-weight: bold; }
  .openchurch-events-list .views-field-markup {
    position: absolute; top: 0; right: 0;
  }

  .openchurch-events-list .views-field-markup a {
    padding: .2em .4em;
    float: right; margin-left: .4em;
  }
    .openchurch-events-list .more-details a { background: #efefef;}
    .openchurch-events-list .register-online a { background: #efefef; }


/*************************************
  Event Calendar
*************************************/
.openchurch-event-calendar .feed-icon { margin-top: 1em; }


/*************************************
  Event Detail Page
*************************************/
#openchurch-event-detail {
  padding-top: 1.5em; position: relative;
  padding-bottom: 3em;
}
  #openchurch-event-detail .event-details h2.pane-title {
    background: #ccc; margin: 0 0 .8em;
    padding: 10px 13px;
  }
  #openchurch-event-detail div.panels-ipe-display-container .event-details h2.pane-title {
   padding: 10px 13px;
  }
  #openchurch-event-detail .event-highlights {
    min-height: 150px;
  }
  #openchurch-event-detail .ministry-thumb img {
    border: 3px solid #ccc; float: right; margin-top: 2.4em;
  }

  #openchurch-event-detail .event-title {
    border-bottom: 1px solid #333; padding-bottom: .2em;
    font-style: italic; font-size: 1.5em; margin-bottom: .5em;
  }

  #openchurch-event-detail .register-online a {
    background: #efefef;
    padding: .2em .4em; margin-left: .4em;
    display: block; position: absolute; bottom: 0; right: .5em;
  }
  #openchurch-event-detail .back-to-list a {
    background: #efefef;
    padding: .2em .4em; margin-left: .4em;
    display: block; position: absolute; top: -2em; right: .5em;
  }
  #openchurch-event-detail .related-downloads { padding-top: 1em; }
  #openchurch-event-detail .related-downloads a {
    font-style: italic;
  }

/*************************************
  Ministries Intro
*************************************/
.openchurch-ministries-intro {
  padding-top: 1em;
}
  .openchurch-ministries-intro h3 { }

/*************************************
  Ministries List
*************************************/
.openchurch-ministries-list {
  position: relative; margin-top: 1em;
}
  .openchurch-ministries-list h2.pane-title,
  div.panels-ipe-display-container .openchurch-ministries-list h2.pane-title {
    border-bottom: 1px solid #333; padding-bottom: .4em;
    font-style: italic; margin-top: 1em;
  }

  .openchurch-ministries-list .views-row {
    margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc;
    position: relative; min-height: 100px;
  }
  .openchurch-ministries-list .views-field-title {
    font-size: 1.5em; font-style: italic; margin-bottom: .4em;
  }
  .openchurch-ministries-list .views-field-field-oc-thumb-fid {
    width: 110px; float: left;
  }
    .openchurch-ministries-list .views-field-field-oc-thumb-fid img {
      border: 2px solid #ccc;
    }
  .openchurch-ministries-list .views-field-nid a {
    position: absolute; top: 0; right: 0; background: #ccc; color: #fff;
    padding: .2em .4em;
  }

/*************************************
  Ministries Detail Page
*************************************/
#openchurch-ministry-detail .ministry-image img { border: 3px solid #efefef; }

  #openchurch-ministry-detail .ministry-contacts {
    margin: 1em 0;
  }
    #openchurch-ministry-detail .ministry-contacts h2.pane-title {
      padding: 10px 13px; background: whiteSmoke; border-bottom: 1px solid #efefef;
      margin: 0;
    }
    #openchurch-ministry-detail .ministry-contacts .pane-content {
      background: #F9F9F9; padding: 10px;
    }

  #openchurch-ministry-detail .upcoming-events {
    margin-bottom: 1em;
  }
  #openchurch-ministry-detail .ministry-downloads {
    margin: 1em 0;
  }
  #openchurch-ministry-detail .upcoming-events h2.pane-title,
  #openchurch-ministry-detail .ministry-downloads h2.pane-title {
    background: whiteSmoke;
    border-bottom-color: #EFEFEF;
    padding: 10px 13px; margin: 0;
  }
  #openchurch-ministry-detail .upcoming-events .pane-content,
  #openchurch-ministry-detail .ministry-downloads .pane-content {
    background: #F9F9F9; padding: 10px;
  }

  #openchurch-ministry-detail .register-online a {
    background: #efefef; display: block;
    padding: .4em .6em; font-size: 1.2em;
  }

/*************************************
  Staff List
*************************************/
.openchurch-staff-list {

}
  .openchurch-staff-list h3 {
    font-style: italic; border-bottom: 1px solid #000; padding-bottom: .3em; font-size: 1.3em;
    margin-bottom: .8em; margin-top: 1em;
  }
  .openchurch-staff-list .views-row {
    margin-bottom: .8em; border-bottom: 1px dotted #333; padding-bottom: .5em;
  }
  .openchurch-staff-list .views-field-title { font-size: 1.3em; padding-right: .3em; }
  .openchurch-staff-list .views-field-field-oc-position-value { font-style: italic; padding-right: .3em; }
  .openchurch-staff-list .views-field-field-oc-email-email { padding-right: .3em; }
  .openchurch-staff-list .views-field-teaser { padding-top: .5em; }
  .openchurch-staff-list .views-field-field-oc-image-fid img { float: left; margin-right: 1em; border: 2px solid #ccc; }
  .openchurch-staff-list .views-field-markup { clear: both; }

#openchurch-staff-directory .openchurch-staff-about h2.pane-title {
  background: #ccc; margin: 0;
  padding: 10px 13px;
}
  #openchurch-staff-directory div.panels-ipe-display-container .openchurch-staff-about h2.pane-title {
    padding: 10px 13px;
  }

.openchurch-staff-about { margin-top: 2em; }
  .openchurch-staff-about .pane-content { background: #F9F9F9; padding: 10px; }
  .openchurch-staff-about img { border: 3px solid #ccc; }

/*************************************
  Staff Jump List
*************************************/
#openchurch-staff-directory .openchurch-jump-list h2.pane-title {
  background: #ccc; margin: 0;
  padding: 10px 13px;
}
  #openchurch-staff-directory div.panels-ipe-display-container .openchurch-jump-list h2.pane-title {
    padding: 10px 13px;
  }

.openchurch-jump-list { margin-top: 2em; }
  .openchurch-jump-list .pane-content { background: #F9F9F9; padding: 10px; }
  .openchurch-jump-list .item-list li { margin-bottom: .3em; }

/*************************************
  Staff Detail
*************************************/
#openchurch-staff-detail {
}
  #openchurch-staff-detail .staff-info {
    margin-top: 1em;
  }
  #openchurch-staff-detail .title {
    font-size: 1.5em; margin-bottom: .5em;
  }
  #openchurch-staff-detail .position {
    font-style: italic; margin-bottom: .5em; font-size: 1.1em;
  }
  #openchurch-staff-detail .staff-image img {
    float: right; border: 3px solid #ccc;
  }
  #openchurch-staff-detail .about-me { margin-top: 1em; }

/*************************************
  Homepage Rotator
*************************************/
#openchurch-homepage-rotator div.view-openchurch-homepage-rotator {
  position: relative;
}
  #openchurch-homepage-rotator .views-slideshow-controls-bottom {
    position: absolute; bottom: 15px; right: 10px; z-index: 100; text-align: right;
  }
    #openchurch-homepage-rotator .views-slideshow-controls-bottom .pager-item a {
      background: #efefef; font-weight: bold;
      padding: .4em .6em;
    }
    #openchurch-homepage-rotator .views-slideshow-controls-bottom .activeSlide a {
      background: #bbb;
    }