
/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 25em;
}
#color_scheme_form #palette .form-item label {
  width: 15em;
}

/* ---------- Preview Styles ----------- */

html.js #preview {
  clear: both;
  float: none !important;
}

/* Google fonts */
#preview-page-title, #preview-site-name, #preview-sidebar h2, .tripych-block h2 {
  font-family: "Neuton", Georgia; font-weight: normal;
}

#preview {
  background-color: #fff;
  font-size: 13px;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}
#preview-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
#preview-logo {
  float: left;
  padding: 15px 15px 15px 10px;
}
#preview-site-name {
  color: #686868;
  font-weight: normal;
  font-size: 1.821em;
  line-height: 1;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-top: 34px;
}
#preview-main-menu {
  clear: both;
  padding: 20px 15px 20px;
}
#preview-main-menu-links {
  margin: 0;
  padding: 0;
  font-size: .9em;
}
#preview-main-menu-links a {
  color: #d9d9d9;
  padding: 6px 6px;
  font-weight: normal;
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  border-top: 7px solid transparent;
}
#preview-main-menu-links a:hover,
#preview-main-menu-links a:focus {
  border-top: 7px solid #d6edf5;
  padding-top: 7px;
  cursor: pointer;
}
#preview-main-menu-links li.active a {
  font-weight: bold;
  border-top-color: #D6E6C2;
}
#preview-main-menu-links li.active a:hover {
  border-top-color: #d6edf5 !important;
}
#preview-main-menu-links li {
  display: inline;
  list-style-type: none;
  padding: 0.6em 0 0.4em;
  margin-right: 1em;
}
#preview-sidebar,
#preview-content {
  display: inline;
  float: left;
  position: relative;
}
#preview-sidebar {
  margin-left: 15px;
  width: 210px;
}
#preview-content {
  margin-left: 30px;
  width: 26.5em;
}
#preview-sidebar .preview-block {
  border: 0;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  padding: 0;
}
#preview-sidebar h2 {
  border-bottom: 0;
  padding: 5px 13px;
  text-shadow: none;
  border-radius: .3em .3em 0 0;
  -webkit-border-radius: .3em .3em 0 0;
  -moz-border-radius: .3em .3em 0 0;
  font-size: 20px;
}
#preview .preview-block .preview-content {
  padding: 0 10px 15px;
}
#preview .preview-block-menu .preview-content,
#preview .preview-block-menu .preview-content ul {
  margin-top: 0;
}
#preview-main {
  margin-bottom: 40px;
  margin-top: 20px;
}
#preview-page-title {
  font-size: 2em;
  font-weight: normal;
  line-height: 1;
  margin: .5em 0 0.5em;
}
#preview-footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  display: block !important;
  font-size: 0.857em;
  padding: 20px 20px 25px;
}
#preview-triptych-wrapper {
  height: 150px;
}
.tripych-block {
  float: left;
  width: 30%;
  margin-left: 15px;
}
.tripych-block .preview-content {
  padding: 3px;
}
.tripych-block h2 {
  background: #adcd84;
  padding: 5px 13px;
}
#preview-footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#preview-footer-wrapper a:hover,
#preview-footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#preview-footer-wrapper .preview-footer-column {
  display: inline;
  float: left;
  padding: 0 10px;
  position: relative;
  width: 220px;
}
#preview-footer-wrapper .preview-block {
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
  padding: 10px;
}
#preview-footer-columns .preview-block-menu {
  border: none;
  margin: 0;
  padding: 0;
}
#preview-footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#preview-footer-columns .preview-content {
  margin-top: 0;
}
#preview-footer-columns .preview-content ul {
  margin-left: 0;
  padding-left: 0;
}
#preview-footer-columns .preview-content li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#preview-footer-columns .preview-content li a {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  display: block;
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  text-indent: -15px;
}
#preview-footer-columns .preview-content li a:hover,
#preview-footer-columns .preview-content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
