
/* ---------- Color Module Styles ----------- */

body {
  color: #2e2e2e;
}
#header {
  background-color: #373637;
  background-image: -moz-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: -ms-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: -o-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #373737), color-stop(1, #373637));
  background-image: -webkit-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: linear-gradient(top, #373737 0%, #373637 100%);
}
a, a:hover, a:focus, .link:hover, .link:focus {
  color: #4a7470;
}
.sidebar .block {
  background-color: #d6eff5;
}
body:not(:target) .region-primary-menu .menu-toggle,
.sidebar .block > h2,
body.node--type-event #event-url a.button {
  background: #a9cfdc;
  color: #2e2f2e;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
 .region-header a,
 .region-header li a.active,
 div.site-branding__text,
 div.site-branding__name a:link,
 div.site-branding__name a:visited,
 div.site-branding__name a:hover,
 div.site-branding__name a:active {
   color: #fffeff;
 }
#triptych h2 {
  background: #adcd84;
  color: #2e2d2e;
}
h2.title, h3.title, #content .block > h2 {
  background: #adcd84;
}
@media all and (min-width: 901px) {
  #block-openchurch-theme-main-menu div.content > ul > li > a {
    color: #fffeff;
  }
  #block-openchurch-theme-main-menu div.content > ul ul {
    background: #d6e6c2;
  }
  #block-openchurch-theme-main-menu div.content > ul > li > a.is-active,
  #block-openchurch-theme-main-menu div.content > ul > li.menu-item--active-trail > a {
    border-top-color: #d6e6c2;
  }
  #block-openchurch-theme-main-menu div.content > ul > li > a:hover {
    border-top: 7px solid #d6edf5;
  }
  #block-openchurch-theme-main-menu div.content > ul ul a {
    color: #000000;
  }
  #block-openchurch-theme-main-menu div.content > ul ul a:hover {
    border-top-color: #cccccc;
    background: #d6edf5;
  }
  #block-openchurch-theme-main-menu div.content > ul ul a {
    border-top: 5px solid #fffffe;
  }
}