{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" class="container" aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url and item.text %}
        <li class="breadcrumb-item">
          <a href="{{ item.url }}" class="text-white">{{ item.text }}</a>
        </li>
      {% elseif item.text %}
        <li class="breadcrumb-item active text-white" aria-current="page">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
